<div class="mb-4">
    <nav class="navbar navbar-expand-md navbar-light bg-light">
        <!-- routing link works also without square backets -->
        <a href="#" class="navbar-brand" routerLink="home">{{ myName }}</a>  
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
  
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav">
                <a href="#" class="nav-item nav-link" [routerLink]="'/tables'">Tables</a>
                <a href="#" class="nav-item nav-link" [routerLink]="'/hooks'">Hooks</a>
                <a href="#" class="nav-item nav-link" [routerLink]="'/form'">Form</a>
                <a href="#" class="nav-item nav-link" [routerLink]="'/playground'">Playground</a>
            </div>
        </div>
    </nav>
  </div>
<!-- <div *ngIf="activeComponent === 1">
    <sda-tables></sda-tables>
</div>
<div *ngIf="activeComponent === 2">
    <sda-hooks [myInput]="'text from nav component'"></sda-hooks>
</div>
<div *ngIf="activeComponent === 3">
    <sda-form></sda-form>
</div> -->

<!-- HIDDEN ATTRIBUTE DOES NOT REMOVE THE ELEMENT FROM THE DOM BUT NGIF DOES -->
<!-- <div>
    <p *ngIf="false">USING ngIf</p>
    <p hidden>USING 'HIDDEN' attribute</p>
</div>
<div [ngSwitch]="activeComponent">
    <sda-tables *ngSwitchCase="1"></sda-tables>
    <sda-hooks *ngSwitchCase="2"></sda-hooks>
    <sda-form *ngSwitchCase="3"></sda-form>
    <p *ngSwitchDefault>NO COMPONENTS TO RENDER</p>
</div> -->
