

 <div class="wrapper">
    <form #f="ngForm" (ngSubmit)="onSubmit(f)" class="form-signin">
       <h2 class="form-signin-heading">Fill the form</h2>
        <div id="data">
          <div class="form-group">
            <label for="a">Username (email)</label>
            <input type="email" id="a" class="form-control"  email required ngModel name="username" #username="ngModel">
            <span class="help-block" *ngIf="username.invalid && username.touched">Please enter a valid email!</span>
          </div>
          <div class="form-group">
            <label for="b">B</label>
            <input  id="b" class="form-control" ngModel name="password" #password="ngModel">
          </div>
        </div>
        <div class="form-group">
          <label for="c">C</label>
          <select id="c" class="form-control" [ngModel]="1" name="option" #option="ngModel">
            <option value="1">one</option>
            <option value="2">two</option>
            <option value="3">three</option>
          </select>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
      </form>
 </div>
<div class="container">

  <pre>VALID: {{ f.valid }}</pre>
</div>

 <!-- <div class="wrapper">
    <form class="form-signin">
       <h2 class="form-signin-heading">Please login</h2>
       <input type="text" class="form-control" name="username" placeholder="Email Address" required="" autofocus="" />
       <input type="password" class="form-control" name="password" placeholder="Password" required=""/>      
       <label class="checkbox">
       <input type="checkbox" value="remember-me" id="rememberMe" name="rememberMe"> Remember me
       </label>
       <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>   
    </form>
 </div> -->