<div>
    <accordion [isAnimated]="true">
      <accordion-group heading="ITERATE OVER AN OBJECT">
        <!-- ITERATE OVER AN OBJECT -->
        <div class="card">
          <div class="card-body">
            <div id="table">
              <table class="table table-boarded">
                <thead class="thead-dark">
                  <tr>
                    <th scope="col">No</th>
                    <th scope="col">Name</th>
                  </tr>
                </thead>
                <tbody>
                  <tr
                    *ngFor="let el of objectVariableIII | keyvalue"
                  >
                    <td>{{ el.key }}</td>
                    <td>{{ el.value }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </accordion-group>
      <accordion-group heading="ITERATE OVER OBJECT OF OBJECTS">
        <!-- ITERATE OVER OBJECT OF OBJECTS -->
        <div>
          <div class="card">
            <div class="card-body">
              <div id="table">
                <table class="table">
                  <thead>
                    <tr>
                      <th>No.</th>
                      <th>Name</th>
                      <th>Department</th>
                      <th>Manager</th>
                      <th>Salary</th>
                      <th>Odd</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr
                      *ngFor="
                        let m of moviesObject | keyvalue;
                        let i = index;
                        let odd = odd
                      "
                    >
                      <td>{{ m.key }}</td>
                      <td>{{ m.value.name }}</td>
                      <td>
                        {{
                          m.value.department && m.value.department !== ""
                            ? m.value.department
                            : "N/A"
                        }}
                      </td>
                      <td>{{ m.value.manager }}</td>
                      <td>{{ m.value.salary }}</td>
                      <td>{{ odd }}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </accordion-group>
      <accordion-group heading="ITERATE OVER AN ARRAY OF OBJECTS">
        <!-- ITERATE OVER AN ARRAY OF OBJECTS -->
        <div>
          <div class="card">
            <div class="card-body">
              <div id="table">
                <table class="table">
                  <thead>
                    <tr>
                      <th>No.</th>
                      <th>Name</th>
                      <th>Department</th>
                      <th>Manager</th>
                      <th>Salary</th>
                      <th>Odd</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr
                      *ngFor="
                        let movie of moviesArray;
                        let i = index;
                        let odd = odd
                      "
                    >
                      <td>{{ i + 1 }}</td>
                      <td>{{ movie.name }}</td>
                      <td>{{ movie.department }}</td>
                      <td>{{ movie.manager }}</td>
                      <td>{{ movie.salary }}</td>
                      <td>{{ odd }}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </accordion-group>
      <accordion-group heading="PIPES">
        <div class="card">
            <div class="card-body">
              <div id="table">
                <table class="table table-boarded">
                  <thead class="thead-dark">
                    <tr>
                      <th scope="col">Orginal value</th>
                      <th scope="col">Pipe used</th>
                      <th scope="col">Modified value</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td> THIS WAS UPPERCASE </td>
                      <td>lowercase</td>
                      <td>{{ 'THIS WAS UPPERCASE' | lowercase  }}</td>
                    </tr>
                    <tr>
                        <td>Sat March 2022 11:40:12 GMT+0200</td>
                        <td>date: 'fullTime'</td>
                        <td>{{ 'Sat March 2022 11:40:12 GMT+0200' | date: "fullTime"  }}</td>
                      </tr>
                      <tr>
                        <td>{{ {name: 'Jarek', occupation: 'developer'} }}</td>
                        <td>json</td>
                        <td>{{ {name: 'Jarek', occupation: 'developer'} | json}}</td>
                      </tr>
                      <tr>
                        <td>this was lowercase</td>
                        <td>uppercase</td>
                        <td>{{ 'this was lowercase' | uppercase  }}</td>
                      </tr>
                      <tr>
                        <td>abcdefghlmnopqrstuvwxyz</td>
                        <td>slice</td>
                        <td>{{ 'abcdefghlmnopqrstuvwxyz' | slice: 3:7 }}</td>
                      </tr>
                      <tr>
                        <td>0.3333333</td>
                        <td>percent</td>
                        <td>{{ 0.3333333 | percent  }}</td>
                      </tr>
                      <tr>
                        <td>1234.56</td>
                        <td>currency</td>
                        <td>{{ 1234.56 | currency: "EUR"   }}</td>
                      </tr>
                      <tr>
                        <td>23</td>
                        <td>custom made: modulo</td>
                        <td>{{ 23 | modulo: 2  }}</td>
                      </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>

      </accordion-group>
    </accordion>
  </div>
  
